

.header-title {
    font-size: 4rem;
    color: black;
    font-weight: bold;
}

.underline-shopify {
    background: url(https://cdn.shopify.com/s/files/1/0072/0561/7711/files/Calque_14.png?8187);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 110%;
    overflow: visible;
}
.header-since {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.banniere1 {
    height: 450px;
    max-width: 800px;
}

.banniere2 {
    height: 350px;
}