.portfolio {
    color: white;
    background-color: black;
    padding: 5rem 0;
    font-size: 1.3rem;
}
.title {
    color: white;
    margin-bottom: 6.5rem;
    margin-top: 1.70rem;
    text-align: center;
}